# 데이터 분석
ipykernel
pandas
numpy
tqdm
statsmodels

# 최적화
PyPortfolioOpt
matplotlib
scikit-learn
cvxopt

# 기술적 분석
pandas_ta

# GPU Computer
# cuDNN 8.1.1
# CUDA 11.1.1

# tensorflow<2.11
# tensorflow_probability